.addTask {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  /* height: 200px; */
  padding: 10px;
  color: white;
}
.inputContainer {
  width: 100%;
}
.inputContainer > input {
  width: 100%;
}
.colorPicker {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}
.colorCircle {
  width: 20px;
  height: 20px;
  border-radius: 999px;
  background-color: hotpink;
}
.action {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

/* Grads

Blue => background: linear-gradient(135deg, rgba(10,176,163,1) 0%, rgba(0,22,255,1) 100%);
Green => background: linear-gradient(135deg, rgba(43,207,94,1) 0%, rgba(8,88,48,1) 100%);
Red => background: linear-gradient(135deg, rgba(238,57,57,1) 0%, rgba(88,8,8,1) 100%);
Yellow => background: linear-gradient(135deg, rgba(197,238,57,1) 0%, rgba(92,105,16,1) 100%);
Purple => background: linear-gradient(135deg, rgba(226,85,185,1) 0%, rgba(105,16,99,1) 100%);





*/
